.b {
  height: 28px;
  position: relative;
  display: inline-block;
}
.marks-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
  max-width: 100%;
}
.h11 {
  margin: 0;
  align-self: stretch;
  height: 130px;
  position: relative;
  font-size: var(--font-size-26xl);
  font-weight: 700;
  font-family: inherit;
  color: var(--color-white);
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.marks-list-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
}
.frame-child {
  height: 54px;
  width: 144px;
  position: relative;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  display: none;
}
.b1 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-xs);
  font-family: var(--font-comfortaa);
  color: var(--color-gray-300);
  text-align: center;
  z-index: 1;
}
.rectangle-parent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xl) var(--padding-11xl) var(--padding-xl)
    var(--padding-10xl);
  background-color: var(--color-white);
  flex: 0.7025;
  border-radius: var(--br-6xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.rectangle-parent:hover {
  background-color: #D5A426;
}
.rectangle-parent:hover .b1{
  color: var(--color-white);
}
.b2,
.frame-item {
  position: relative;
}
.frame-item {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-6xs);
  background-color: var(--color-gray-200);
  border: 0.7px solid var(--color-steelblue-200);
  cursor: pointer;
}
.b2 {
  height: 26px;
  width: 99px;
  font-size: var(--font-size-xs);
  display: inline-block;
  font-family: var(--font-comfortaa);
  color: var(--color-white);
  text-align: center;
  flex-shrink: 0;
  z-index: 1;
  margin-left: -122px;
}
.rectangle-group {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-4xl) 0 0;
  background-color: transparent;
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.frame-group,
.frame-parent,
.main-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-group {
  width: 313px;
  height: 54px;
  flex-direction: row;
  gap: var(--gap-6xl);
}
.frame-parent,
.main-inner {
  box-sizing: border-box;
  max-width: 100%;
}
.frame-parent {
  width: 627px;
  flex-direction: column;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-7xs);
}
.main-inner {
  width: 1316px;
  flex-direction: row;
  padding: 0 0 var(--padding-51xl) var(--padding-xl);
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-lightslategray);
  font-family: var(--font-comfortaa);
}
@media screen and (max-width: 1050px) {
  .h11 {
    font-size: var(--font-size-17xl);
  }
}
@media screen and (max-width: 450px) {
  .h11 {
    font-size: var(--font-size-8xl);
  }
}
